<!DOCTYPE html>
<html>
<head>
    <title>Python Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Python Quiz</h1>
    <form action="/submit" method="post">
        {% for i, question in enumerate(questions) %}
            <h2>{{ question.question }}</h2>
            {% for j, option in enumerate(question.options) %}
                <label>
                    <input type="radio" name="q{{ i }}" value="{{ j }}"> {{ option }}
                </label><br>
            {% endfor %}
        {% endfor}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
